// COLORS ----------------------------------------------------------------------------
$color-primary: #23333F;
$color-white: #F8F8F8;

// BACKGROUNDS -----------------------------------------------------------------------
$background-color--default: $color-white;

// TYPOGRAPHY ------------------------------------------------------------------------
    // Paragraph
        $typography-p-color: $color-primary;