@import './styles/variables.scss';

html {
  min-height: 100vh;
  background-color: $background-color--default;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -0.02em;
}

p {
  color: $typography-p-color;
  margin: 0;
  font-family: DM Sans;
}

button {
  margin-right: 16px;
  text-transform: unset;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
}
